<h1 class="q-pt-lg text-center" style="font-family: fantasy">Nami</h1>
<h6 v-show="su" class="q-pb-lg text-center">Window to your genome</h6>
<h4 v-show="su" class="q-pt-lg text-center">Upload your VCF</h4>
<div v-show="su" class="q-pa-lg">
  <q-uploader
    accept="vcf.gz"
    flat
    auto-upload
    bordered
    color="grey-2"
    text-color="black"
    v-on:uploaded="function(event) { handle_event(event, 'up') }"
    max-files="1"
    :url="'/____/upload/' + channel_"
    style="max-width: 60%; width: 95%; margin: 0 auto"
  ></q-uploader>
</div>
<div v-show="ss" class="flex-center flex">
  <h6 class="q-ma-md">Searching 🧬 {{fi}}</h6>
  <q-btn
    color="grey-5"
    label="Change"
    v-on:click="su = true; ss = false"
    size="md"
    class="q-ma-md"
  ></q-btn>
</div>
<space class="q-pa-lg"></space>
<div class="row flex-center">
  <q-tabs
    indicator-color="grey-2"
    v-model="ta"
    v-show="ss"
    class="col-12"
    align="justify"
    no-caps
    active-bg-color="grey-2"
    style="max-width: 960px"
    ><q-tab name="t1"><h4>Variant</h4></q-tab
    ><q-tab name="t2"><h4>Gene</h4></q-tab
    ><q-tab name="t3"><h4>Region</h4></q-tab></q-tabs
  >
</div>
<div v-show="ss" class="row flex-center text-center">
  <q-tab-panels v-model="ta" class="col-12" animated style="max-width: 960px"
    ><q-tab-panel name="t1">
      <% _view_input("text", "rsID", "rs625655", :ri) %> <%
      _view_search_button(:cv) %>
      <h4 v-show="em" class="q-pt-xl">No variant found</h4>
      <div v-show="sr">
        <h4 class="q-pt-xl q-pb-lg">Variant {{rs}}</h4>
        <div class="row flex-center q-pa-lg">
          <div class="column col-3">
            <h6 class="q-pa-sm">Reference</h6>
            <% _view_allele("a0") %>
          </div>
          <div class="column col-3">
            <h6 class="q-pa-sm">Your Allele 1</h6>
            <% _view_allele("a1") %>
          </div>
          <div class="column col-3">
            <h6 class="q-pa-sm">Your Allele 2</h6>
            <% _view_allele("a2") %>
          </div>
        </div>
        <h6 class="q-pa-sm">Chromosome = {{co}}</h6>
        <h6 class="q-pa-sm">Closest gene = {{cl}}</h6>
        <h6 class="q-pa-sm">Position = {{po}}</h6>
        <h6 class="q-pa-sm">Effect = {{an}}</h6>
        <h6 class="q-pa-sm">Impact = {{ip}}</h6>
      </div></q-tab-panel
    ><q-tab-panel name="t2">
      <% _view_input("text", "Symbol", "UBR3", :sy) %> <%
      _view_search_button(:cg) %>
      <h4 v-show="em" class="q-pa-xl">No variants found</h4>
      <div v-show="sr">
        <h4 class="q-pt-xl q-pb-lg">Gene {{sy}}</h4>
        <% _view_impacts() %> <% _view_variant_buttons() %>
      </div></q-tab-panel
    ><q-tab-panel name="t3"
      ><q-select
        outlined
        label="Chromosome"
        clearable
        v-model="ch"
        class="q-pa-sm"
        bg-color="grey-2"
        :options="ch_"
      ></q-select>
      <% _view_input("number", "Start", "", :st) %> <% _view_input("number",
      "End", "", :en) %> <% _view_search_button(:cr) %>
      <h4 v-show="em" class="q-pa-xl">No variants found</h4>
      <div v-show="sr">
        <h4 class="q-pt-xl q-pb-lg">Region {{ch}}:{{st}}-{{en}}</h4>
        <% _view_impacts() %> <% _view_variant_buttons() %>
      </div>
    </q-tab-panel></q-tab-panels
  >
</div>
