<q-layout view="hHh lpr fff">
  <% header() %>

  <space class="q-pa-xl"></space>

  <space class="q-pa-md"></space>

  <div v-show="su" class="text-h6 q-pb-lg text-center text-black">
    Window to your genome
  </div>

  <div v-show="su" class="text-h4 q-pt-lg text-center text-black">
    Upload your VCF
  </div>

  <div v-show="sp" class="text-h4 q-pt-lg text-center text-black">
    Building VCF Table
  </div>

  <div v-show="sp" class="text-h6 q-pt-lg text-center text-black">
    May take up to 45 minutes
  </div>

  <div v-show="sp" class="q-pa-lg text-center">
    <q-spinner-grid color="teal-13" size="4em" />
  </div>

  <div v-show="su" class="q-pa-lg">
    <q-uploader
      accept="vcf.gz"
      flat
      auto-upload
      bordered
      color="grey-2"
      text-color="black"
      max-files="1"
      v-on:start="function(event) { handle_event(event, 'st') }"
      v-on:uploaded="function(event) { handle_event(event, 'up') }"
      v-on:finish="function(event) { handle_event(event, 'fi') }"
      :url="'/____/upload/' + channel_"
      style="max-width: 60%; width: 95%; margin: 0 auto"
    >
    </q-uploader>
  </div>

  <space class="q-pa-lg"></space>

  <div class="row flex-center">
    <q-tabs
      no-caps
      indicator-color="deep-purple-1"
      v-model="ta"
      v-show="ss"
      align="justify"
      active-bg-color="deep-purple-1"
      class="col-12"
      style="max-width: 960px"
    >
      <q-tab name="t1">
        <div class="text-h5 text-black">Variant</div>
      </q-tab>

      <q-tab name="t2">
        <div class="text-h5 text-black">Gene</div>
      </q-tab>

      <q-tab name="t3">
        <div class="text-h5 text-black">Region</div>
      </q-tab>
    </q-tabs>
  </div>

  <div v-show="ss" class="row flex-center text-center">
    <q-tab-panels v-model="ta" class="col-12" animated style="max-width: 960px">
      <q-tab-panel name="t1">
        <% view_input("text", "rsID", "rs625655", :ri) %> <%
        view_search_button(:cv) %> <% view_no_variant_found() %>

        <div v-show="sr">
          <% view_search_title("Variant {{rs}}") %>

          <div class="row flex-center q-pa-lg">
            <div class="column col-3"><% view_allele("a0", "Reference") %></div>

            <div class="column col-3">
              <% view_allele("a1", "Your Allele 1") %>
            </div>

            <div class="column col-3">
              <% view_allele("a2", "Your Allele 2") %>
            </div>
          </div>

          <div class="row q-gutter-lg justify-evenly">
            <% view_variant_information("chromosome.png", "Chromosome",
            "{{co}}") %> <% view_variant_information("position.png", "Position",
            "{{po}}") %> <% view_variant_information("gene.png", "Closest Gene",
            "{{cl}}") %> <% view_variant_information("effect.png", "Effect",
            "{{an}}") %> <% view_variant_information("impact.png", "Impact",
            "{{ip}}") %>
          </div>
        </div>
      </q-tab-panel>

      <q-tab-panel name="t2">
        <% view_input("text", "Symbol", "UBR3", :sy) %> <%
        view_search_button(:cg) %> <% view_no_variant_found() %>

        <div v-show="sr">
          <% view_search_title("Gene {{sy}}") %> <% view_impact() %> <%
          view_variant_button() %>
        </div>
      </q-tab-panel>

      <q-tab-panel name="t3">
        <q-select
          outlined
          label="Chromosome"
          clearable
          v-model="ch"
          class="q-pa-sm"
          bg-color="grey-2"
          :options="ch_"
        >
        </q-select>

        <% view_input("number", "Start", "", :st) %> <% view_input("number",
        "End", "", :en) %> <% view_search_button(:cr) %> <%
        view_no_variant_found() %>

        <div v-show="sr">
          <% view_search_title("Region {{ch}}:{{st}}-{{en}}") %> <%
          view_impact() %> <% view_variant_button() %>
        </div>
      </q-tab-panel>
    </q-tab-panels>
  </div>
</q-layout>
