<q-layout view="hHh lpr fff">
  <% view_header() %>

  <space class="q-pa-xl"></space>

  <div v-show="b1" class="text-h4 q-pa-lg q-mt-md text-center text-black">
    Upload your variant database file
  </div>

  <div v-show="b2" class="text-h4 q-mt-xl text-center text-black">Loading</div>

  <div v-show="b2" class="q-ma-lg text-center">
    <q-spinner-grid color="in" size="4em" />
  </div>

  <div v-show="b1" class="q-ma-lg">
    <q-uploader
      flat
      auto-upload
      bordered
      color="grey-2"
      text-color="black"
      accept=".db"
      v-on:uploaded="function(event) { handle_event(event, 'up') }"
      v-on:finish="function(event) { handle_event(event, 'fi') }"
      v-on:rejected="function(event) { handle_event(event, 're') }"
      :url="'/____/upload/' + channel_"
      style="max-width: 800px; min-width: 400px; margin: 0 auto"
    ></q-uploader>
  </div>

  <div v-show="b1" class="column flex-center">
    <div class="text-h5 q-pa-md q-mt-lg text-center text-black">
      Don't have one?
    </div>
    <q-btn
      unelevated
      size="lg"
      color="in"
      label="Contact Us"
      href="mailto:ka@caucell.com"
      class="q-ma-lg btn text-da"
    ></q-btn>
  </div>

  <div v-show="b3" class="row flex-center text-center">
    <q-tab-panels v-model="ta" class="col-12" animated style="max-width: 960px">
      <q-tab-panel name="t1">
        <% view_input("text", "rsID", "rs625655", :r1) %>
        <%view_search_button(:u1) %> <% view_no_variant_found() %>

        <div v-show="b5">
          <% view_search_title("Variant {{r2}}") %>

          <div class="row q-gutter-lg q-mb-lg justify-center">
            <% view_allele("va.REF", "Reference") %> <%
            view_allele("va.Allele1", "Your Allele 1") %> <%
            view_allele("va.Allele2", "Your Allele 2") %>
          </div>

          <div class="row q-gutter-sm justify-evenly">
            <% view_variant_information("Chromosome", "image/chromosome.png",
            "{{va.CHROM}}") %> <% view_variant_information("Position",
            "image/position.png", "{{va.POS}}") %> <%
            view_variant_information("Gene", "image/gene.png", "{{va.Gene}}") %>
            <% view_variant_information("Effect", "image/effect.png",
            "{{va.Effect}}") %> <% view_variant_information("Impact",
            "image/impact.png", "{{va.Impact}}") %> <%
            view_variant_information("Significance", "image/significance.png",
            "{{va.Clnsig}}") %>
          </div>
        </div>
      </q-tab-panel>

      <q-tab-panel name="t2">
        <% view_input("text", "Symbol", "UBR3", :ge) %> <%
        view_search_button(:u2) %> <% view_no_variant_found() %>

        <div v-show="b5">
          <% view_search_title("Gene {{ge}}") %> <% view_impact() %> <%
          view_variant_button() %>
        </div>
      </q-tab-panel>

      <q-tab-panel name="t3">
        <q-select
          outlined
          clearable
          :options="ch_"
          bg-color="grey-2"
          v-model="ch"
          label="Chromosome"
          class="q-pa-sm"
        ></q-select>

        <% view_input("number", "Start", "", :st) %> <% view_input("number",
        "End", "", :en) %> <% view_search_button(:u3) %> <%
        view_no_variant_found() %>

        <div v-show="b5">
          <% view_search_title("Region {{ch}}:{{st}}-{{en}}") %> <%
          view_impact() %> <% view_variant_button() %>
        </div>
      </q-tab-panel>
    </q-tab-panels>
  </div>
</q-layout>
