.text-dark {
  color: #27221f;
}

.bg-nucleus-hu {
  background: #fbb92d;
}

.text-nucleus-in {
  color: #4e40d8 !important;
}

.bg-nucleus-in {
  background: #4e40d8 !important;
}

.text-nucleus-in-light {
  color: #4e40d840 !important;
}

.bg-nucleus-in-light {
  color: #4e40d840 !important;
}

.bg-nucleus-vi {
  background: #9017e6 !important;
}

.bg-nucleus-tu {
  background: #20d9ba !important;
}

.bg-nucleus-re {
  background: #ff1993 !important;
}

.bg-nucleus-bl {
  background: #1992ff !important;
}

.bg-nucleus-a1 {
  background: #00936e !important;
}

.bg-nucleus-s1 {
  background: #8c1515 !important;
}

.bg-nucleus-or {
  background: #fc7f31 !important;
}

.bg-bluegrey {
  background: #607d8b !important;
}

body {
  color: #000 !important;
  font-family: Poppins, sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.btn {
  text-transform: none !important;
}
