.text-biocausality {
  color: #4e40d8;
}

.bg-biocausality {
  background: #4e40d8;
}

.text-biocausality-16 {
  color: #ebe6ff;
}

.bg-biocausality-16 {
  background: #ebe6ff;
}

:root.stipple-core{
    --st-color-primary: #ebe6ff;
    --st-color-neutral: #d6d6d6;
    --st-color-field-border: #d6d6d6;
    --st-color-field-text-dimmed: #fffffffa;
    --st-color-field-background-dimmed: #00000010;
    --st-shadow-color: #00000061;
  }
  :root.stipple-core{
    --st-dashboard-bg-0: #ffffff;
    --st-dashboard-bg-1: #ffffff;
    --st-dashboard-bg-2: #ffffff;
  }
  :root.stipple-core{
    --st-text-1: #000000;
    --st-text-2: #646464;
    --st-text-3: #777f92;
    --st-font-family: "Poppins", sans-serif;
    --st-font-size: 14px;
    --st-font-size-4xl: 2.5rem;
    --st-font-size-3xl: 2.1rem;
    --st-font-size-2xl: 1.8rem;
    --st-font-size-xl: 1.5rem;
    --st-font-size-lg: 1.2rem;
    --st-font-size-md: 1rem;
    --st-font-size-sm: 0.8rem;
    --st-font-size-xs: 0.6rem;
  }
  :root.stipple-core h1, :root.stipple-core h2, :root.stipple-core h3, :root.stipple-core h4, :root.stipple-core h5, :root.stipple-core h6{
    color: var(--st-text-1);
    font-weight: 600;
  }
  :root.stipple-core .st-module{
    background: var(--st-dashboard-bg-1);
    box-shadow: var(--st-shadow-md);
  }
  :root.stipple-core{
    --st-color-secondary: #1285f8;
    --st-color-accent: #458fe3;
    --st-color-dark: #1c1c1c;
    --st-color-info: #32cdec;
    --st-color-white: #ffffff;
    --st-color-black: #313030;
    --st-color-positive: #21ba45;
    --st-color-negative: #c20017;
    --st-color-warning: #f2c036;
    --st-color-dark-page: #121212;
    --st-color-neutral-alt: #d1d1d1;
    --q-primary: var(--st-color-primary);
    --q-secondary: var(--st-color-secondary);
    --q-accent: var(--st-color-accent);
    --q-positive: var(--st-color-positive);
    --q-negative: var(--st-color-negative);
    --q-info: var(--st-color-info);
    --q-warning: var(--st-color-warning);
    --q-dark: var(--st-color-dark);
    --q-white: var(--st-color-white);
    --q-black: var(--st-color-black);
    --q-dark-page: var(--st-color-dark-page);
    --st-filter-light: none;
    --st-filter-dark: invert(1) saturate(0) brightness(2);
  }
  a{
    color: var(--st-color-primary);
  }
  :root.stipple-core h1{
    font-size: var(--st-font-size-4xl);
  }
  :root.stipple-core h2{
    font-size: var(--st-font-size-3xl);
  }
  :root.stipple-core h3{
    font-size: var(--st-font-size-2xl);
  }
  :root.stipple-core h4{
    font-size: var(--st-font-size-xl);
  }
  :root.stipple-core h5{
    font-size: var(--st-font-size-lg);
  }
  :root.stipple-core h6{
    font-size: var(--st-font-size-md);
  }
  :root.stipple-core ._genie_logo{
    filter: var(--st-filter-light);
  }

  /*===================================================================
                        APPLICATION
  ================================================================== */
 
  .stipple-core {
    .q-btn.q-btn--active:enabled:not(.disabled):not(.q-btn--push),
    .q-btn:active:enabled:not(.disabled):not(.q-btn--push) {
      box-shadow: none !important;
    }
    .q-btn--actionable.q-btn--standard.q-btn--active .q-btn__wrapper:before,
    .q-btn--actionable.q-btn--standard:active .q-btn__wrapper:before {
      box-shadow: none !important;
    }
  
    h1, h2, h3, h4, h5, h6{
      line-height: normal;
      margin: 0px;
      color: var(--st-text-1);
    }
    
    /* ---------- Module ---------- */
  
    .st-module {
      box-shadow: var(--st-shadow-md);
      border-radius: var(--st-border-radius-md);
      background: var(--st-dashboard-bg-1 );
      margin: var(--st-spacing-md);
      padding: var(--st-spacing-lg);
      box-sizing: border-box; flex: 1;
      transition: background 0.3s;
    }
  
    .st-module-title {
      font-size: var(--st-font-size-lg);
      font-weight: bold;
      color: var(--st-text-1);
      margin-top: 0px;
      margin-bottom: var(--st-spacing-md);
    }
    
    /*===================================================================
                          Containers & Common
    ================================================================== */
  
    /* ---------- Common  ---------- */
    hr{
      border: solid 0.5px var(--st-color-neutral);
    }
    
    .container > .row, .st-dashboard > .row {
      padding: 0;
    }
  
    body > .container {
      padding: 0 20px;
      margin: 0 auto;
    }
  
    @media (max-width: 999px) {    
      body > .container {
          padding: 0 10px;
        }
    }
    @media (max-width: 599px) {
      body > .container {
          padding: 0 5px;
        }
    }
  
    /*===================================================================
                              FIELDS
    ================================================================== */
    fieldset {
      border: none;
    }
    .q-field {
      font-size: 14px;
    }
    .q-field__bottom{
        color: var(--st-text-3);
      }
    .q-file .q-field__native{
        white-space: nowrap;
        overflow: hidden;
    }
    .q-field__input, .q-field__native, .q-field__prefix, .q-field__suffix {
      color: var(--st-text-2);
    }
    .q-field__control, .q-field--auto-height .q-field__control, .q-field__marginal {
      height: 36px;
      min-height: 36px;
      color: var(--st-text-2);
    }
  
    .q-field--auto-height.q-field--labeled .q-field__control-container {
      padding-top: 0;
    }
  
    .q-field--auto-height .q-field__control, .q-field--auto-height .q-field__native {
      min-height: 36px;
    }
  
   .q-field--labeled .q-field__native, .q-field--labeled .q-field__prefix, .q-field--labeled .q-field__suffix {
      padding-top: unset;
      padding-bottom: unset;
   }

   .q-field--labeled {
    padding-top: 25px;
  }
  
   .q-field--float .q-field__label, .q-field__label {
      color: var(--st-text-1);
      transform: translateY(-190%) scale(1);
      font-weight: 500;
      left: -10px;
      max-width: 100%;
      font-size: var(--st-font-size-md);
   }
  
   .q-field--labeled.q-field--standard .q-field__label, 
   .q-field--labeled.q-field--borderless .q-field__label {
      left: 0px;
   }
   
   .q-field--filled.q-field--rounded .q-field__control {
      border-radius: 18px 18px 0 0;
   }

   .q-field--filled .q-field__control{
    background-color: var(--st-color-field-background-dimmed);
   }
  
   .q-field .q-field__control:before {
      border-color: var(--st-color-field-border);
    }
    .q-field.q-field--highlighted .q-field__control:after {
      border-color: var(--st-color-primary);
      border-width: 1px;
    }
    .q-field--outlined .q-field__control:hover:before {
      border-color: color-mix(in srgb, var(--st-color-primary), transparent 50%);
    }
    
    /*===================================================================
                        Button, Badge, Banner, chip...
    ================================================================== */
    
    .q-btn .q-badge.q-badge--floating {
      padding-top: 1px;
      padding-bottom: 1px;
    }
    .q-ripple {
      display: none;
    }
    .q-btn .q-btn__wrapper:before {
      box-shadow: none;
    }
    .q-btn.q-btn--active:enabled:not(.disabled):not(.q-btn--push):not(.q-btn--outline),
    .q-btn:active:enabled:not(.disabled):not(.q-btn--push):not(.q-btn--outline) {
      box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.3);
    }
    .q-btn.q-btn--active .q-btn__wrapper:before,
    .q-btn:active .q-btn__wrapper:before {
      box-shadow: none;
    }
    .q-btn {
      font-weight: var(--st-font-weight-bold);
    }
    .q-btn-group {
      box-shadow: none;
    }
  
    /*===================================================================
                          MISC (File, Skeleton)
    ================================================================== */
    
    .q-skeleton {
      background: var(--st-skeleton);
    }
    
    /*===================================================================
                                Scrolls
    ================================================================== */
    .q-scrollarea {
      padding-right: 20px;
    }
    .q-scrollarea .q-scrollarea__thumb {
      border-radius: 5px;
      width: 4px;
      opacity: 0.8;
    }
  
    /*===================================================================
                          Focusable
    ================================================================== */
    
  .q-focusable:focus>.q-focus-helper, .q-hoverable:hover>.q-focus-helper, .q-manual-focusable--focused>.q-focus-helper {
      background: var(--st-color-primary) !important;
    }
    .q-item--active, .q-item.q-router-link--active {
      font-weight: var(--st-font-weight-bold);
      color: var(--st-color-primary) !important;
    }
    
  /* ---------- Layout ---------- */
  
  .max-width-xs {
    max-width: 600px;
  }
  .max-width-sm {
    max-width: 800px;
  }
  .max-width-md {
    max-width: 1000px;
  }
  .max-width-lg {
    max-width: 1200px;
  }
  .max-width-xl {
    max-width: 1400px;
  }
  
