.text-da {
  color: #27221f;
}

.bg-da {
  background: #27221f;
}

.text-in {
  color: #4e40d8;
}

.bg-in {
  background: #4e40d8;
}

.text-li {
  color: #4e40d840;
}

.bg-li {
  color: #4e40d840;
}

.bg-pi {
  background: #F27BBD;
}

.bg-g1 {
  background: #77E4C8;
}

.bg-g2 {
  background: #36C2CE;
}

.bg-b1 {
  background: #4FC3F7;
}

.bg-b2 {
  background: #478CCF;
}

.bg-ey {
  background: #607d8b;
}

.bg-ye {
  background: #ffa400;
}

.bg-or {
  background: #ff4e20;
}

.bg-re {
  background: #dc3023;
}

body {
  color: #000 !important;
  font-family: Poppins, sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.btn {
  text-transform: none !important;
}
